{{ template "header.html" .}}

<body>

	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="css/miestilo.css">-->
    <style type="text/css" media="screen">
   		@import url("/css/miestilo.css");
	</style>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="miestilo.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2>Agregar Contacto</h2>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<form class="form-horizontal" method="post" action="/save" name="newc" autocomplete="on">
			<div class="form-group">
				<label for="cc" class="col-sm-2 control-label">Nombre: </label>
				<div class="col-sm-10">
					<input type="hidden" name="_method" value="PUT">
					<input class="form-control" id="name" name="name" required>
				</div>

				<label for="cc" class="col-sm-2 control-label">Telefono: </label>
				<div class="col-sm-10">
					<input class="form-control" id="number" name="number" required>
				</div>
			<div>
			<input type="submit"></input>
		</form> 
	</div>
	<!--
	<div class="container">
		<a href="/save" class="btn btn-default">Agregar</a>
	</div>-->
</body>
</html>
  
